<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <form action="register" method="post">
          <label for="name">Name:</label>
          <input type="text" name="name" placeholder="Enter name" required>
          <label for="email">Email:</label>
          <input type="email" name="email" placeholder="Enter email" required>
          <label for="password">Password:</label>
          <input type="password" name="password" placeholder="Enter password">
          <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>